<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>employeeweb</display-name>
  <servlet>
  <servlet-name>myServlet</servlet-name>
  <servlet-class>employeeweb.JdbcWeb</servlet-class>
  <init-param>
  <param-name>dClass</param-name>
  <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </init-param>
  <init-param>
  <param-name>url</param-name>
  <param-value>jdbc:mysql://localhost:3306/prodapt</param-value>
  </init-param>
  <init-param>
  <param-name>userName</param-name>
  <param-value>root</param-value>
  </init-param>
   <init-param>
  <param-name>password</param-name>
  <param-value>root</param-value>
  </init-param>
  
  
  </servlet>
  <servlet-mapping>
  <servlet-name>myServlet</servlet-name>
  <url-pattern>/reg</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>empweb.html</welcome-file>
  </welcome-file-list>
</web-app>